<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head -->
    <%- include('partials/heah.html') %>
</head>
<body>
    <!-- navigation -->
    <%- include('partials/nav.html') %>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 col-md-offset-4">

                <!--card 1-->
                <div class="card border-info mb-3 bg-dark" style="max-width: 20rem;">
                    <div class="card-header">Timestamp Microservice</div>
                    <div class="card-body">
                        <a href="/API/times" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 2-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Request Header Parser</div>
                    <div class="card-body">
                        <a href="/API/request" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 3-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">URL Shortener Microservice</div>
                    <div class="card-body">
                        <a href="/API/urls" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 4-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Git API</div>
                    <div class="card-body">
                        <a href="/API/jobs" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-md-offset-4">
                <!--card 5-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">JSON CSV</div>
                    <div class="card-body">
                        <a href="/API/json" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 6-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Notas</div>
                    <div class="card-body">
                        <a href="/API/notes" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 7-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Crud Postgres</div>
                    <div class="card-body">
                        <a href="/API/crud" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                        <h6>Done</h6>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-md-offset-4">
                <!--card 8-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Musical Chat</div>
                    <div class="card-body">
                        <a href="/API/musical" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 9-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Sudoku Solver</div>
                    <div class="card-body">
                        <a href="/API/sudoku" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 10-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">CRUD mongoDB</div>
                    <div class="card-body">
                        <a href="/API/crudmongo" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 11-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">App Clima</div>
                    <div class="card-body">
                        <a href="/API/weather" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
