<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head -->
    <%- include('partials/heah.html') %>
</head>
<body>
    <!-- navigation -->
    <%- include('partials/nav.html') %>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 col-md-offset-4">

                <!--card 1-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Carrito de Compras</div>
                    <div class="card-body">
                        <a href="/API/buy" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 2-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Web App Clon</div>
                    <div class="card-body">
                        <a href="/API/clone" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 3-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Counter</div>
                    <div class="card-body">
                        <a href="/API/counter" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 4-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Git API</div>
                    <div class="card-body">
                        <a href="/API/jobs" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-md-offset-4">
                <!--card 5-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">JSON CSV</div>
                    <div class="card-body">
                        <a href="/API/json" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 6-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Notas</div>
                    <div class="card-body">
                        <a href="/API/notes" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-md-offset-4">
                <!--card 7-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Pomodoro</div>
                    <div class="card-body">
                        <a href="/API/pomodoro" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 8-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Tic-Tac-Toe</div>
                    <div class="card-body">
                        <a href="/API/tictactoe" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 9-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Teclado Virtual</div>
                    <div class="card-body">
                        <a href="/API/virtual" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>

                <!--card 10-->
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">App Clima</div>
                    <div class="card-body">
                        <a href="/API/weather" class="btn  btn-outline-success btn-sm btn-block">Click Me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
